body {
  background: #1e555c !important;
  color: white !important;
  text-align: center !important;
  font-family: "Righteous" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
